*.sqlite
*.nsys-rep
**/__pycache__/
*.o
project/two_blackholes_collide_nosimd*
project/two_blackholes_collide_simd*
project/wavetoy_*simd*
*.out
*.txt
*.png
*.gif
project/two_blackholes_collide_*clean

